<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <link rel="icon" href="~/Imagens/sympIcon.png" type="image/x-icon" /> 
    <title>Symphonya</title>
    <link rel="icon" href="~/Imagens/symphonyaIcon.png" type="image" />
    <link rel="shortcut icon" href="~/Imagens/symphonyaIcon.png" type="image" />
    <!-- Add jQuery library -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.7" type="text/css" media="screen" />
    <script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.7"></script>

    <!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    <link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
    <script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/CSS/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/CSS/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="~/CSS/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/CSS/icon-font.min.css" type='text/css' />
    <!-- /js -->
    <script src="~/JS/jquery-1.10.2.min.js"></script>
    <script src="~/JS/accordion.js"></script>
    <!-- //js-->

    <link href="~/CSS/styleCadastro.css" rel='stylesheet' type='text/css' />

    <script>
        $(document).ready(function () {
            $(".various").fancybox({
                maxWidth: 600,
                maxHeight: 300,
                fitToView: false,
                width: '70%',
                height: '70%',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none'
            });
        });

        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
    </script>

</head>
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="inner-content">
    <!-- header-starts -->
    <div class="header-section">
        <!--menu-right-->
        <div class="top_menu">
            <div class="main-search">
                <form method="post" action="~/Menu/Pesquisar">
                    <input id="busca" name="busca" type="text" value="Buscar" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Buscar';}" class="text" />
                    <input type="submit" value="">
                </form>
            </div>
            <!--/profile_details-->
            <div class="profile_details_left">
                <ul class="nofitications-dropdown">
                    <li class="dropdown note dra-down">
                        <script type="text/javascript">

                            function DropDown(el) {
                                this.dd = el;
                                this.placeholder = this.dd.children('span');
                                this.opts = this.dd.find('ul.dropdown > li');
                                this.val = '';
                                this.index = -1;
                                this.initEvents();
                            }
                            DropDown.prototype = {
                                initEvents: function () {
                                    var obj = this;

                                    obj.dd.on('click', function (event) {
                                        $(this).toggleClass('active');
                                        return false;
                                    });

                                    obj.opts.on('click', function () {
                                        var opt = $(this);
                                        obj.val = opt.text();
                                        obj.index = opt.index();
                                        obj.placeholder.text(obj.val);
                                    });
                                },
                                getValue: function () {
                                    return this.val;
                                },
                                getIndex: function () {
                                    return this.index;
                                }
                            }

                            $(function () {

                                var dd = new DropDown($('#dd'));

                                $(document).click(function () {
                                    // all dropdowns
                                    $('.wrapper-dropdown-3').removeClass('active');
                                });

                            });

                        </script>
                    </li>
                    <li class="dropdown note">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-diamond"></i></a>
                        <ul class="dropdown-menu two first">
                            @if (ViewBag.Ranking != null)
                            {
                                <li>
                                    <div class="notification_header">
                                        <h3>Ranking</h3>
                                    </div>
                                </li>
                                foreach (var R in ViewBag.Ranking)
                                {
                                    <li>
                                        <a href="/Menu/MostrarUsuario/@R.ID">
                                            <div class="user_img"><img src="~/Imagens/ImagensUsuario/@R.Imagem_Perfil" alt=""></div>
                                            <div class="notification_desc">
                                                <p>@R.Nome @R.Sobrenome</p>
                                                <p><span>Músico</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>

                    <li class="dropdown note">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-universal-access"></i>
                            @if (ViewBag.QntADM != null)
                            {
                                <span class="badge">@ViewBag.QntADM</span>
                            }
                        </a>

                        <ul class="dropdown-menu two">
                            @if (ViewBag.Administradores != null)
                            {
                                <li>
                                    <div class="notification_header">
                                        <h3>Administradores</h3>
                                    </div>
                                </li>
                                foreach (var A in ViewBag.Administradores)
                                {
                                    <li>
                                        <a href="/Menu/MostrarUsuario/@A.ID">
                                            <div class="user_img"><img src="~/Imagens/ImagensUsuario/@A.Imagem_Perfil" alt=""></div>
                                            <div class="notification_desc">
                                                <p>@A.Nome @A.Sobrenome</p>
                                                <p><span>Administrador</span></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li>
                                    <div class="notification_header">
                                        <h3>Não Disponível</h3>
                                    </div>
                                </li>
                            }
                        </ul>
                    </li>

                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="clearfix"></div>
            <!--//profile_details-->
        </div>
        <!--//menu-right-->
        <div class="clearfix"></div>
    </div>
    <!-- //header-ends -->
    <!--outter-wp-->
    <div class="outter-wp">
        <!--sub-heard-part-->
        <div class="sub-heard-part">
            <ol class="breadcrumb m-b-0">
                <li><a href="~/Menu/Feed">Início</a></li>
                <li class="active">Perfil</li>
            </ol>
        </div>
        <!--//sub-heard-part-->
        <!--/profile-->
        <h3 class="sub-tittle pro">Editar Perfil</h3>
    </div>
    @if (ViewBag.Logado == null)
    {

    }
    else {
        <div class="profile-widget" style="background: url(../Imagens/ImagensUsuario/@ViewBag.User.Imagem_Capa);">
            <img src="~/Imagens/ImagensUsuario/@ViewBag.User.Imagem_Perfil" alt="" />
            <h3>@ViewBag.User.Nome @ViewBag.User.Sobrenome</h3>
        </div>
                         <!--/profile-inner-->
                            <div class="profile-section-inner">
                                <form action="/Menu/EditarPerfil" method="post" enctype="multipart/form-data" id="alterarDados">
                                    <div class="col-md-6 profile-info">
                                        <h3 class="inner-tittle">Imagens</h3>
                                        <div class="main-grid3-imagens">
                                            <div class="form-group">
                                                **As imagens devem possuir,<strong> OBRIGATORIAMENTE</strong>, os formatos: <strong>PNG, JPG OU JPEG</strong>.<br><br />
                                                <label for="NovaImagemPerfil">
                                                    <strong>Imagem de Perfil</strong>
                                                </label>
                                                <input id="NovaImagemPerfil" name="NovaImagemPerfil" type="file"/>
                                                <p class="help-block">
                                                    <strong>Nota:</strong> As imagens de <strong>PERFIL</strong> tendem a ser de dimensão 1:1, caso sua imagem não siga esse padrao haverá deformação da mesma.
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <label for="NovaImagemCapa"><strong>Imagem de Capa</strong></label>
                                                <input id="NovaImagemCapa" name="NovaImagemCapa" type="file" />
                                                <p class="help-block"><strong>Nota:</strong> As imagens de <strong>CAPA</strong> tendem a ser de dimensão 2:1, caso sua imagem não siga esse padrao haverá deformação da mesma.</p>
                                            </div>
                                        </div>

                                        <h3 class="inner-tittle">Informações Pessoais </h3>
                                        <div class="EP-principais-info">
                                            <div class="p-20">
                                                <strong>Nome</strong>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-drivers-license"></i>
                                                    </span>
                                                    <input id="NovoNome" name="NovoNome" class="form-control1 icon" placeholder="@ViewBag.User.Nome" type="text">
                                                </div>
                                                <strong>Sobrenome</strong>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-drivers-license"></i>
                                                    </span>
                                                    <input id="NovoSobrenome" name="NovoSobrenome" class="form-control1 icon" placeholder="@ViewBag.User.Sobrenome" type="text">
                                                </div>
                                                <div class="about-info-p">
                                                    <strong>Celular/Telefone</strong>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" style="padding: 6px 17px;">
                                                            <i class="fa fa-mobile"></i>
                                                        </span>
                                                        <input id="NovoCelular" name="NovoCelular" class="form-control1 icon" placeholder="CELULAR AQUI" type="text">
                                                    </div>
                                                </div>
                                                <div class="about-info-p">
                                                    <strong>Canal Twitch®</strong>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" style="padding: 6px 13px;">
                                                            <i class="fa fa-twitch"></i>
                                                        </span>
                                                        <input id="NovoCanalTwitch" name="NovoCanalTwitch" class="form-control1 icon" placeholder="Cole a URL do seu canal aqui." type="text">
                                                    </div>
                                                </div>
                                                <div class="about-info-p">
                                                    <strong>Canal Youtube®</strong>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" style="padding: 6px 14px;">
                                                            <i class="fa fa-youtube"></i>
                                                        </span>
                                                        <input id="NovoCanalYoutube" name="NovoCanalYoutube" class="form-control1 icon" placeholder="Cole a URL do seu canal aqui." type="text">
                                                    </div>
                                                </div>
                                                <div class="about-info-p">
                                                    <strong>Facebook</strong>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" style="padding: 6px 16px;">
                                                            <i class="fa fa-facebook"></i>
                                                        </span>
                                                        <input id="NovoCanalFacebook" name="NovoCanalFacebook" class="form-control1 icon" placeholder="Cole a URL do seu perfil aqui." type="text">
                                                    </div>
                                                </div>
                                                <div class="about-info-p">
                                                    <strong>E-Mail</strong>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" style="padding: 6px 13px;">
                                                            <i class="fa fa-envelope-o"></i>
                                                        </span>
                                                        <input id="NovoEmail" name="NovoEmail" class="form-control1 icon" placeholder="@ViewBag.User.Email" type="text">
                                                    </div>
                                                    <div class="about-info-p m-b-0">
                                                        <strong>Cidade</strong>
                                                        <div class="input-group">
                                                            <span class="input-group-addon" style="padding: 6px 13px;">
                                                                <i class="fa fa-map"></i>
                                                            </span>
                                                            <input id="NovaCidade" name="NovaCidade" class="form-control1 icon" placeholder="@ViewBag.User.Cidade" type="text">
                                                        </div>
                                                        <strong>Estado</strong>
                                                        <div class="input-group">
                                                            <span class="input-group-addon" style="padding: 6px 13px;">
                                                                <i class="fa fa-map"></i>
                                                                <div></div>
                                                            </span>
                                                            <input id="NovoEstado" name="NovoEstado" class="form-control1 icon" placeholder="@ViewBag.User.Estado" type="text">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--/map-->
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="col-md-6 profile-info two">
                                        <h3 class="inner-tittle-instrumentos">Instrumentos </h3>
                                        <div class="main-grid3">
                                            <div class="bar">
                                                @if (ViewBag.Instrumentos != null)
                                                {
                                                    foreach (var I in ViewBag.Instrumentos)
                                                    {
                                                        <button class="instrumentos" type="button">
                                                            <div class="barra-instrumento">
                                                                <img class="icon-instrumento" src="~/Imagens/IconesInstrumentos/@(I.Icone).png" /><strong id="NomeInstrumento">@I.Nome</strong>
                                                                <o class="fa fa-edit"></o>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="skills">
                                                                <div class="skill1" style="width:@I.Maestria%"> </div>
                                                            </div>
                                                        </button>
                                                        <div class="panel">
                                                            <a class="fancybox" href="~/Menu/ExcluirInstrumento/@I.ID"><strong><o class="fa fa-remove"></o> Excluir Instrumento</strong></a>
                                                        </div>

                                                        <script language="Javascript">

                                                            var acc = document.getElementsByClassName("instrumentos");
                                                            var i;

                                                            for (i = 0; i < acc.length; i++) {
                                                                acc[i].onclick = function () {
                                                                    /* Toggle between adding and removing the "active" class,
                                                                    to highlight the button that controls the panel */
                                                                    this.classList.toggle("active");

                                                                    /* Toggle between hiding and showing the active panel */
                                                                    var panel = this.nextElementSibling;
                                                                    if (panel.style.display === "block") {
                                                                        panel.style.display = "none";
                                                                    } else {
                                                                        panel.style.display = "block";
                                                                    }
                                                                }
                                                            }
                                                        </script>
                                                    }
                                                }
                                                else
                                                {
                                                    <p>Você ainda não possui instrumentos cadastrados! Cadastre-os clicando no botão abaixo.</p>
                                                }
                                                    <div class="bs-example2 bs-example-padded-bottom">
                                                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                                            Adicionar Instrumentos
                                                        </button>
                                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h2 class="modal-title">Novo Instrumento</h2>
                                                                    </div>
                                                                    <div class="modal-body">

                                                                        <h2>Instrumento:</h2>
                                                                        <select class="instrumentoSelect" required id="NovoInstrumento" name="NovoInstrumento">
                                                                            @if (ViewBag.Instruments != null)
                                                                            {
                                                                                <option value="0">SELECIONE</option>
                                                                                foreach (var Instrumento in ViewBag.Instruments)
                                                                                {
                                                                                <option value="@Instrumento.ID"><span src="~/Imagens/IconesInstrumentos/@Instrumento.Nome">@Instrumento.Nome </span></option>
                                                                                }
                                                                            }
                                                                            </select>
                                                                            <h2>Maestria:</h2>
                                                                        <select class="instrumentoSelect" required="" id="NovaMaestria" name="NovaMaestria">
                                                                            <option value="0">SELECIONE</option>
                                                                            <option value="1">Iniciante</option>
                                                                            <option value="2">Intermediário</option>
                                                                            <option value="3">Adepto</option>
                                                                            <option value="4">Mestre</option>
                                                                            </select>
</div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>

                                                                        <input type="submit" onclick="myFunction()" value="Salvar">

                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div>

                                                        <div class="bs-example2 bs-example-padded-bottom">
                                                            <button type="button" class="btnVerMaisInstrumentos" data-toggle="modal" data-target="#myModalCompleto">
                                                                Ver Mais
                                                            </button>
                                                            <div class="modal fade" id="myModalCompleto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h2 class="modal-title">Instrumentos</h2>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            @if (ViewBag.InstrumentosCompleto != null)
                                                                            {
                                                                                foreach (var instrumento in ViewBag.InstrumentosCompleto)
                                                                                {
                                                                                    <div class="barra-instrumento">
                                                                                        <img class="icon-instrumento" src="~/Imagens/IconesInstrumentos/@(instrumento.Icone).png" /><strong id="NomeInstrumento">@instrumento.Nome</strong>
                                                                                    </div>
                                                                                        <div class="clearfix"></div>
                                                                                        <div class="skills">
                                                                                            <div class="skill1" style="width:@instrumento.Maestria%"> </div>
                                                                                        </div>
                                                                                }
                                                                            }
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                                                                        </div>
                                                                    </div><!-- /.modal-content -->
                                                                </div><!-- /.modal-dialog -->
                                                            </div>
                                                        </div>

                                                    </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <h3 class="inner-tittle-biografia">Biografia </h3>
                                        <div class="main-grid3-biografia">
                                            <textarea id="NovaBio" name="NovaBio" form="alterarDados" placeholder="@ViewBag.User.Biografia" maxlength="250" wrap="hard"></textarea>
                                        </div>
                                        <div class="BTNeditarPerfil"><input type="submit" onclick="myFunction()" value="Alterar Dados"></div>
                                        </div>
                                </form>
                    </div>
                            <!--/map-->
                    <!--//profile-inner-->
                    <!--//profile--> }
                </div>
                <!--//outer-wp-->
                <!--footer section start-->
                <footer>
                    <p>© 2017 Symphonya . Todos os direitos reservados.</p>
                </footer>
                <!--//footer section end-->
            </div>
        
        <!--//content-inner-->
        <!--/sidebar-menu-->
        <div class="sidebar-menu">
            <header class="logo">
                <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="~/Menu/Feed">
                    <span id="logo"> <h1 style="font: inherit;font-size: 180%;">Symphonya</h1></span>
                    <!--<img id="logo" src="" alt="Logo"/>-->
                </a>
            </header>
            <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
            <!--/down-->
            <div class="down">
                @if (ViewBag.Logado == null) { }
                else {
                    <a href="~/Menu/Perfil"><img src="~/Imagens/ImagensUsuario/@ViewBag.User.Imagem_Perfil"></a>
                    <span class="name-caret">@ViewBag.User.Nome @ViewBag.User.Sobrenome</span>

                    if (ViewBag.User.Nivel == 1)
                {
                        <p><strong>Administrador</strong></p>
                    }
                    if (ViewBag.User.Nivel == 2)
                {
                        <p><strong>Desenvolvedor</strong></p>
                    }
                }
                <ul>
                    <li><a class="tooltips" href="~/Acesso/Sair"><span>Log out</span><i class="lnr lnr-power-switch"></i></a></li>
                </ul>
            </div>
            <!--//down-->
            <div class="menu">
                <ul id="menu">
                    @if (ViewBag.Logado == null) { }
                    else {
                        if (ViewBag.User.Nivel != 0)
                        {
                            <li id="menu-academico">
                                <a href="#"><i class="fa fa-area-chart"></i> <span> Administração</span> <span class="fa fa-angle-right" style="padding-left: 17%;"></span></a>
                                <ul id="menu-academico-sub">
                                    <li id="menu-academico-avaliacoes"><a href="~/Administracao/Arquivos">Arquivos</a></li>
                                    <li id="menu-academico-avaliacoes"><a href="~/Administracao/Bandas">Bandas</a></li>
                                    <li id="menu-academico-boletim"><a href="~/Administracao/Usuarios">Usuários</a></li>
                                </ul>
                            </li>
                        }
                    }
                    <li id="menu-academico">
                        <a href="#"><i class="fa fa-calendar"></i> <span> Agenda & Eventos</span> <span class="fa fa-angle-right" style="padding-left: 17%;"></span></a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-boletim"><a href="~/Menu/Agenda">Agenda</a></li>
                           
                        </ul>
                    </li>
                    <li><a href="~/Menu/Arquivo"><i class="fa fa-file"></i> <span>Arquivos</span></a></li>
                    <li id="menu-academico">
                        <a href="#"><i class="fa fa-group"></i> <span>Bandas</span> <span class="fa fa-angle-right" style="padding-left: 53%;"></span></a>
                        <ul id="menu-academico-sub">
                            <li id="menu-academico-avaliacoes"><a href="~/Menu/CadastroBanda">Nova Banda</a></li>
                            <li id="menu-academico-boletim"><a href="~/Menu/VerBandas">Ver Bandas</a></li>
                        </ul>
                    </li>
                    <li id="menu-academico">
                        <a href="~/Menu/VerSeguidores"><i class="fa fa-address-book"></i> <span>Seguidores</span></a>
                    </li>
                    <li>
                        <a href="~/Menu/VerSeguidos"><i class="fa fa-address-book-o"></i> <span>Seguindo</span></a>
                    </li>
                    <li>
                        <a href="~/Menu/Livestream"><i class="fa fa-twitch"></i> <span>Livestream</span></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <script>
							var toggle = true;

							$(".sidebar-icon").click(function() {
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }

											toggle = !toggle;
										});
    </script>
    
    <!--js -->
    <link rel="stylesheet" href="~/CSS/vroom.css">
    <script type="text/javascript" src="~/JS/vroom.js"></script>
    <script type="text/javascript" src="~/JS/TweenLite.min.js"></script>
    <script type="text/javascript" src="~/JS/CSSPlugin.min.js"></script>
    <script src="~/JS/jquery.nicescroll.js"></script>
    <script src="~/JS/scripts.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/JS/bootstrap.min.js"></script>
</body>
</html>
